RewriteEngine On
RewriteRule ^trang-chu/?$ index.php
RewriteRule ^home/?$ index.php
#RewriteRule ^admin/?$ admin/index.php
RewriteRule ^about_us/?$ about_us.html
RewriteRule ^feedback/?$ feedback.php
RewriteRule ^setting/?$ setting.php
RewriteRule ^categories/?$ categories.php
RewriteRule ^live_streams/?$ live_streams.php
RewriteRule ^explore/?$ explore.php
RewriteRule ^saved_courses/?$ saved_courses.html
RewriteRule ^sign_in/?$ sign_in.php
RewriteRule ^sign_up/?$ sign_up.php
RewriteRule ^forgot_password/?$ forgot_password.php

RewriteRule ^404.html/?$ 404.html


# Contents
RewriteRule ^chuyen-muc/([0-9a-zA-Z\-]+)/?$             index.php?com=contents&viewtype=block&code=$1 [QSA]
RewriteRule ^bai-viet/([0-9a-zA-Z\-]+)/?$             	index.php?com=contents&viewtype=article&code=$1 [QSA]

php_value memory_limit -1
php_value post_max_size 1024M
php_value upload_max_filesize 1024M

php_value max_input_time 3000
php_value max_execution_time 3000

php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_flag  log_errors on
php_value error_log  /edu/tmp/errors.log