RewriteEngine On

RewriteRule ^/?$ 						index.php [QSA]
RewriteRule ^contact/?$ 				index.php?com=contact [QSA]

RewriteRule ^live/?$ 					index.php?com=live [QSA]
RewriteRule ^live/view?$ 				index.php?com=live&viewtype=view [QSA]
RewriteRule ^live/add?$ 				index.php?com=live&viewtype=add [QSA]
RewriteRule ^live/schedule?$ 			index.php?com=live&viewtype=schedule [QSA]

RewriteRule ^vod/?$ 					index.php?com=vod [QSA]
RewriteRule ^vod/view?$ 				index.php?com=vod&viewtype=view [QSA]
RewriteRule ^vod/add?$ 					index.php?com=vod&viewtype=add [QSA]
RewriteRule ^vod/edit/([0-9]+)?$ 		index.php?com=vod&viewtype=edit&id=$1 [QSA]
RewriteRule ^vod/write/?$ 				index.php?com=vod&viewtype=write [QSA]
RewriteRule ^vod/pending/?$ 			index.php?com=vod&viewtype=pending [QSA]
RewriteRule ^vod/waiting_public/?$ 		index.php?com=vod&viewtype=waiting_public [QSA]
RewriteRule ^vod/public/?$ 				index.php?com=vod&viewtype=public [QSA]
RewriteRule ^vod/deleted/?$ 			index.php?com=vod&viewtype=deleted [QSA]
RewriteRule ^vod/takedown/?$ 			index.php?com=vod&viewtype=takedown [QSA]
RewriteRule ^vod/return/?$ 				index.php?com=vod&viewtype=return [QSA]

RewriteRule ^user/?$ 							index.php?com=user [QSA]
RewriteRule ^profile/?$ 						index.php?com=user&viewtype=profile
RewriteRule ^changepass/?$ 						index.php?com=user&viewtype=changepass
RewriteRule ^user/getlist_user/([0-9]+)?$ 		index.php?com=user&viewtype=getlist_user&id=$1 [QSA]

RewriteRule ^groupuser/?$ 				index.php?com=groupuser [QSA]
RewriteRule ^groupuser/add/?$ 			index.php?com=groupuser&viewtype=add [QSA]
RewriteRule ^groupuser/edit/([0-9]+)?$ 	index.php?com=groupuser&viewtype=edit&id=$1 [QSA]

RewriteRule ^categories/?$ 					index.php?com=categories [QSA]
RewriteRule ^categories/add/?$ 				index.php?com=categories&viewtype=add [QSA]
RewriteRule ^categories/edit/([0-9]+)?$ 	index.php?com=categories&viewtype=edit&id=$1 [QSA]
RewriteRule ^categories/active/([0-9]+)?$ 	index.php?com=categories&viewtype=active&id=$1 [QSA]

RewriteRule ^channel/?$ 					index.php?com=channel [QSA]
RewriteRule ^channel/add/?$ 				index.php?com=channel&viewtype=add [QSA]
RewriteRule ^channel/edit/([0-9]+)?$ 		index.php?com=channel&viewtype=edit&id=$1 [QSA]
RewriteRule ^channel/active/([0-9]+)?$ 		index.php?com=channel&viewtype=active&id=$1 [QSA]


RewriteRule ^feedback/?$ 					index.php?com=feedback [QSA]
RewriteRule ^feedback/add/?$ 				index.php?com=feedback&viewtype=add [QSA]
RewriteRule ^feedback/edit/([0-9]+)?$ 		index.php?com=feedback&viewtype=edit&id=$1 [QSA]
RewriteRule ^feedback/active/([0-9]+)?$ 	index.php?com=feedback&viewtype=active&id=$1 [QSA]
RewriteRule ^feedback/delete/([0-9]+)?$ 	index.php?com=feedback&viewtype=delete&id=$1 [QSA]

RewriteRule ^member/?$ 						index.php?com=member [QSA]
RewriteRule ^member/add/?$ 					index.php?com=member&viewtype=add [QSA]
RewriteRule ^member/edit/([0-9]+)?$ 		index.php?com=member&viewtype=edit&id=$1 [QSA]
RewriteRule ^member/active/([0-9]+)?$ 		index.php?com=member&viewtype=active&id=$1 [QSA]
RewriteRule ^member/delete/([0-9]+)?$ 		index.php?com=member&viewtype=delete&id=$1 [QSA]
RewriteRule ^member/trash/([0-9]+)?$ 		index.php?com=member&viewtype=trash&id=$1 [QSA]
RewriteRule ^member/trash/?$ 				index.php?com=member&viewtype=list_trash [QSA]


RewriteRule ^setting/?$ 				index.php?com=setting [QSA]
RewriteRule ^forgot-password/?$ 		forgot-password.php

php_flag display_errors  on
php_value upload_max_filesize 1024M
php_value post_max_size 1024M
php_value max_input_time 300
php_value max_execution_time 300

#Bảo vệ file
<files .htaccess>
order allow,deny
deny from all
</files>